<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>搜索 - 码匠论坛</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/common/custom.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/search.css}" media="all"/>
    <!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>-->
    <link rel="stylesheet" th:href="@{/static/fontawesome/css/fontawesome.min.css}" media="all"/>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script th:src="@{/static/common/jquery.min.js}"></script>
    <script th:src="@{/static/js/search.js}"></script>
    <script th:src="@{/static/js/forum.js}"></script>
    <style type="text/css">
        /* 搜索样式 */
        #search{
            margin-left: 60px;
        }

        .d1 input {
            width: 130%;
            height: 33px;
            padding-left: 10px;
            padding-right: 0 !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            border: 2px solid #fff;
            color: #9E9C9C;
        }

        .d1 button {
            position: absolute;
            top: 10px;
            right: -71px;
            width: 41px;
            height: 37px;
            border: none;
            background: #5FB878;
            cursor: pointer;
        }

        .d1 button:before {
            content: "\f002";
            font-family: FontAwesome;
            font-size: 16px;
            color: #F9F0DA;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <header th:replace="common/header"></header>
    <div class="layui-col-md5 layui-col-md-offset4">
        <input id="keywords" type="hidden" value="${keywords}"/>
        <div id="questions">
            <blockquote style="margin-top: 20px;font-size: 17px;font-weight: 700;" class="layui-elem-quote"
                        th:text="'搜索关键词：' + ${keywords} + '&nbsp;&nbsp;如下'"></blockquote>
            <ul style="margin-top: 20px" class="question-list">
            </ul>
        </div>

        <!-- 分页插件 -->
        <div id="ques-pagination"></div>
    </div>
    <footer th:replace="common/footer"></footer>
</div>
<script th:inline="javascript">
    layui.use(['element', 'form', 'laypage', 'jquery'], function () {
        let element = layui.element;
        let form = layui.form;
        let laypage = layui.laypage;
        $ = layui.jquery;

        //分页
        let totalCount = [[${totalCount}]];
        let questionArray = [[${questions}]];
        let html = "";
        laypage.render({
            elem: 'ques-pagination'
            , count: questionArray.length
            , page: true
            , layout: ['count', 'prev', 'page', 'next', 'skip']
            , jump: function (obj) {
                // pageQuery(obj.curr, obj.limit);
                if (questionArray.length === 0) {
                    html += "<div style='margin: 20px 0;'>暂无相关问题哦</div>";
                    $("#ques-pagination").hide();
                } else {
                    $.each(questionArray, function (i, item) {
                        html += " <li>\n" +
                            "                    <div class=\"content\">\n" +
                            "                        <a class=\"title\" target=\"_blank\" href=\"/question/" + item.id + "\">" + item.title + "</a>\n" +
                            "                        <p class=\"abstract\">" + item.description + "</p>\n" +
                            "                        <div class=\"meta\">\n" +
                            "                            <a target=\"_blank\" href=\"#\">\n" +
                            "                                <i class=\"fa fa-eye\" aria-hidden=\"true\"></i>\n" +
                            "                                <span>" + item.viewCount + "&nbsp;&nbsp;</span>\n" +
                            "                            </a>\n" +
                            "                            <span>\n" +
                            "                                <i class=\"fa fa-comments\" aria-hidden=\"true\"></i>" +
                            "                                <span>" + item.commentCount + "&nbsp;&nbsp;</span>\n" +
                            "                            </span>\n" +
                            "                            <a target=\"_blank\" href=\"#\">\n" +
                            "                                <i class=\"fa fa-heart\" aria-hidden=\"true\"></i>\n" +
                            "                                <span >" + item.likeCount + "&nbsp;&nbsp;</span>\n" +
                            "                            </a>\n" +
                            "                            <span class=\"time\" data-shared-at=\"2019-07-15T14:24:48+08:00\">\n" +
                            "                                   <i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i><span> " + item.gmtCreate + "</span>\n" +
                            "                            </span>\n" +
                            "                        </div>\n" +
                            "                    </div>\n" +
                            "                </li>";
                    })
                }
                $(".question-list").html(html);
            }
        });
    });

    //页面加载完成就开始
    $(document).ready(function () {
        let username = [[${session.username}]];
        let token = [[${session.id}]];
        //赋值给输入框
        $("#username").attr("value", username);

        init(username,token);

        //获取后端传入的keywords;
        let keywords = [[${keywords}]];
        $("#keywords").val(keywords);

    });

    //查询用户头像
    function getAvatar(username) {
        $.ajax({
            type: "get",
            url: "/getavatar",
            data: {username: username},
            success: function (res) {
                $("#useravatar").attr("src", res.data);  //从数据库中读取
                $(".user-small-avatar").attr("src", res.data);
            },
            error: function () {
                layer.alert("系统错误，请稍后再试", {icon: 5, time: 2000});
            }
        });
    }

</script>
</body>
</html>