.d1 button{
    top: 12px !important;
}

#publishInfo {
    height: 255px;
    min-height: 50px;
    width: 80%;
    margin-left: 7%;
    background-color: #38B7EA;
    color: #fff;
    position: relative;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 12px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.w-e-text-container{
    height: 600px !important;
}

.info ol{
    margin-left: 6%;
    margin-top: 4%;
}

.info ol li{
    list-style: decimal;
    font-size:17px;
}
