<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>首页 - 码匠论坛</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/common/custom.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/swiper/swiper.min.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/index.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/Source Han Sans CN Regular.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/fontawesome/css/fontawesome.min.css}" media="all"/>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script th:src="@{/static/swiper/swiper.min.js}"></script>
    <script th:src="@{/static/js/search.js}"></script>
    <script th:src="@{/static/common/jquery.min.js}"></script>
    <script th:src="@{/static/js/forum.js}"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <header th:replace="common/header"></header>

    <div class="layui-fluid">
        <!-- 左侧 -->
        <div class="layui-col-md3">
            <!-- 轮播图 -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img style="width: 100%;height: auto;" src="https://bestzuo.cn/images/forum/show-index-1.png"></div>
                    <div class="swiper-slide"><img style="width: 100%;height: auto;" src="https://bestzuo.cn/images/forum/issue.png"></div>
                    <div class="swiper-slide"><img style="width: 100%;height: auto;" src="https://bestzuo.cn/images/forum/mjforum-index.png"></div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
            <!-- 热门话题 -->
            <div style="margin-left: 10px;margin-top:20px;font-size: 22px;font-weight: 500">💬&nbsp;热门话题</div>
            <div style="margin-left: 15px;margin-top: 10px">
                <ul class="hot-topics">
                    <li class="topics" style="margin-bottom: 5px">
                        <a class="topic-avatar" href="#" target="_blank">
                            <img style="border-radius: 10px" width="45" height="45"
                                 src="https://bestzuo.cn/images/forum/java.png">
                        </a>
                        <span>Java<span class="focus-links">关注</span></span>
                        <div class="topic-info" style="font-size: 12px;margin-top: 1px">
                            739个问题，79人关注
                        </div>
                    </li>
                    <li class="topics">
                        <a class="topic-avatar" href="#" target="_blank">
                            <img style="border-radius: 10px" width="45" height="45"
                                 src="https://bestzuo.cn/images/forum/jquery.png">
                        </a>
                        <span>JQuery<span class="focus-links">关注</span></span>
                        <div class="topic-info">
                            739个问题，79人关注
                        </div>
                    </li>
                    <li class="topics">
                        <a class="topic-avatar" href="#" target="_blank">
                            <img style="border-radius: 10px" width="45" height="45"
                                 src="https://bestzuo.cn/images/forum/mysql.jpg">
                        </a>
                        <span>MySQL<span class="focus-links">关注</span></span>
                        <div class="topic-info">
                            739个问题，79人关注
                        </div>
                    </li>
                </ul>
            </div>
            <!-- 公告部分 -->
            <div style="margin-left: 10px;margin-top:20px;margin-bottom:20px;font-size: 22px;font-weight: 500">📢&nbsp;论坛发展</div>
            <div style="margin-left: 15px;margin-top: 10px">
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">2019 年 11 月 25 日，码匠论坛 v1.0 测试版本发布，等待后续继续更新</div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">2019 年 11 月 24 日，码匠论坛基本功能完善</div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">2019 年 11 月 13 日，开始搭建论坛</div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">更久前，独立博客时代。Hexo、Hugo等</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 中间主体部分 -->
        <div class="layui-col-md6" style="margin-bottom: 60px;">
            <div class="layui-tab layui-tab-brief" lay-filter="tab-questions">
                <ul class="layui-tab-title forum-nav">
                    <i class="layui-icon layui-icon-spread-left"
                       style="font-size: 24px;vertical-align: bottom;margin-right: 12px">&nbsp;<span
                            style="font-size: 22px;font-weight: 200">发现</span></i>
                    <li><font color="red">消灭零回复</font></li>
                    <li>热门</li>
                    <li>推荐</li>
                    <li class="layui-this">最新</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item" id="zeroCommentQues"></div>
                    <div class="layui-tab-item" id="hotQues"></div>
                    <div class="layui-tab-item" id="recommendQues"></div>
                    <div class="layui-tab-item layui-show" id="newQues"></div>
                    <!-- 分页插件 -->
                    <div id="ques-pagination"></div>
                </div>
            </div>
        </div>
        <!-- 右侧 -->
        <div class="layui-col-md3" style="margin-top: 20px">
            <div class="right-header">🔖&nbsp;热门标签</div>
            <div style="margin-left: 40px;margin-top: 10px" id="hot-tags">
                <div class="hot_tag">
                    <div><a class="tagname" href="javascript:;"><span>JAVA</span></a></div>
                </div>
            </div>
            <!--热门推荐-->
            <div class="right-header"  style="margin-top:20px">🌏&nbsp;热门推荐</div>
            <div style="margin-left: 40px;margin-top: 10px">
                <ul class="recommend-list">
                </ul>
                <footer th:replace="common/footer"></footer>
            </div>
            <!--<hr/>-->
            <div class="right-header" style="margin-top:20px;z-index: -99999999;position: relative">👨‍🎓&nbsp;最新用户</div>
            <div style="margin-left: 40px;margin-top: 10px">
                <ul class="list-group"></ul>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    let totalCount = 0;  //数据总条数
    layui.use(['element', 'carousel', 'laypage', 'layer'], function () {
        let element = layui.element;
        let carousel = layui.carousel;
        let laypage = layui.laypage;

        let mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            autoplay:true,
            grabCursor : true,
            parallax : true,
            loop: true,

            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
            },
        });

        //监听选项卡切换事件
        element.on('tab(tab-questions)', function (data) {
            let currId = "";
            let currURL = "";
            if (data.index === 3) {
                //最新
                currId = "#newQues";
                currURL = "/getAllQuestions";
            } else if (data.index === 2) {
                //推荐
                currId = "#recommendQues";
                currURL = "/getAllQuestionsByViewCount";
                laypage.render({
                    elem: 'ques-pagination'
                    , count: totalCount
                    , page: true
                    , limits: [10, 15, 20, 25]
                    , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                    , jump: function (obj) {
                        pageQuery(obj.curr, obj.limit, currURL, currId);
                    }
                });
            } else if (data.index === 1) {
                //热门
                currId = "#hotQues";
                currURL = "/getAllQuestionsByCommentCount";
                laypage.render({
                    elem: 'ques-pagination'
                    , count: totalCount
                    , page: true
                    , limits: [10, 15, 20, 25]
                    , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                    , jump: function (obj) {
                        pageQuery(obj.curr, obj.limit, currURL, currId);
                    }
                });
            } else if (data.index === 0) {
                //消灭零回复
                currId = "#zeroCommentQues";
                currURL = "/getAllQuestionsByZeroComment";
                laypage.render({
                    elem: 'ques-pagination'
                    , count: totalCount
                    , page: true
                    , limits: [10, 15, 20, 25]
                    , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                    , jump: function (obj) {
                        pageQuery(obj.curr, obj.limit, currURL, currId);
                    }
                });
            }
        });

        let currId = "#newQues";
        let currURL = "/getAllQuestions";
        //分页
        laypage.render({
            elem: 'ques-pagination'
            , count: totalCount
            , page: true
            , limits: [10, 15, 20, 25]
            , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
            , jump: function (obj) {
                pageQuery(obj.curr, obj.limit, currURL, currId);
            }
        });

    });

    //页面加载完成就开始
    $(document).ready(function () {
        //导航栏停留在首页
        $("#index").addClass("layui-this");
        let username = [[${session.username}]];
        let token = [[${session.uid}]];
        //赋值给输入框
        $("#username").attr("value", username);

        $(".searchQues").hover(function () {
            $(".layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after").css("background-color", "");
        });

        //初始化
        init(username,token);

        //获取数据库中总条数
        $.ajax({
            type: "get",
            url: "/getTotalCount",
            success: function (res) {
                if (res.status === 200) {
                    totalCount = res.data;
                }
            }
        });

        //获取数据库最新的三个用户信息
        $.ajax({
            type: "get",
            url: "/getNewUserInfo",
            success: function (res) {
                if (res.status === 200) {
                    //渲染Html
                    // alert(res.data[0].username);
                    let html = "";
                    $.each(res.data, function (i, item) {
                        let university = item.university;
                        let company = item.company;
                        let infomation = "";

                        if (($.trim(company).length > 0)) {
                            infomation = "&nbsp;·&nbsp;" + company;
                        }

                        if (($.trim(university).length > 0)) {
                            infomation = "&nbsp;·&nbsp;" + university;
                        }

                        html += " <li class=\"list-group-item\" style=\"list-style: none;\">\n" +
                            "           <a style=\"margin-right: 5px;\" href=\"/user/" + item.uid + "\">\n" +
                            "              <img class=\"img-rounded\" width=\"30\" height='30' \n" +
                            "                    src=\"" + item.avatar + "\">\n" +
                            "           </a>\n" +
                            "           <small style=\"font-size: 14px;color: #303030;\">" + item.username + "<span style=\"color: #666;font-size: 12px;\">" + infomation + "</span></small>\n" +
                            "           <small style=\"float: right;font-size: 14px;color: #666;\">问题:&nbsp;&nbsp; <span\n" +
                            "                                class=\"iconfont icon-fensi2\"></span>" + item.questionNum + "\n" +
                            "                        </small>\n" +
                            "      </li>";
                    });
                    $(".list-group").html(html);
                }
            }
        });

        //查询推荐文章信息
        $.get("/getRecommendQuestion", function (res) {
            let recommendHtml = "";
            if (res.status === 200) {
                $.each(res.data, function (i, item) {
                    recommendHtml += "<li class=\"list-group-item\"><a href=\"/question/" + item.id + "\">" + item.title + "</a><span>浏览量：" + item.viewCount + "</span></li>";
                })
            }
            $(".recommend-list").html(recommendHtml);
        });

        //查询标签推荐
        $.get("/getMostReferTag", function (res) {
            let html = "";
            if (res.status === 200) {
                $.each(res.data, function (i, item) {
                    html += "    <div class=\"hot_tag\">\n" +
                        "            <div><a class=\"tagname\" href=\"javascript:;\"><span>" + item + "</span></a></div>\n" +
                        "        </div>";
                });

                $("#hot-tags").html(html);
            }
        })
    });

    //查询分页信息
    function pageQuery(currPage, pageSize, url, id) {
        //页面加载完成后去查询数据库中问题信息，渲染到页面上
        $.ajax({
            type: "get",
            url: url,
            async: false,
            data: {
                "currPage": currPage,
                "pageSize": pageSize
            },
            success: function (res) {
                //取出所有的问题信息
                let questionArray = res.data;
                let html = "";
                for (let i = 0; i < questionArray.length; i++) {
                    let quesHtml = "          <li class=\"boxContent\">\n" +
                        "                        <div>\n" +
                        "                            <div class=\"user_bar\">\n" +
                        "                                <div class='hook' style=\"display: inline-block;float: left;\">\n" +
                        "                                    <a href=\"/user/" + questionArray[i].uid + "\" style=\"text-decoration: none;height: 45px;width: 45px;\">\n" +
                        "                                        <img src=" + questionArray[i].avatar + "\n" +
                        "                                             alt=\"\" style=\"height: 48px;width: 48px;border-radius: 10px;\">\n" +
                        "                                    </a>\n" +
                        "                                </div>\n" +
                        "                                <div class='userToolTip'><div class=\"arrow\"></div>\n" +
                        "                                    <span>这是一个提示框</span>\n" +
                        "                                </div>\n" +
                        "                                <div class=\"floatR\" style=\"\">\n" +
                        "                                    <a href=\"/question/" + questionArray[i].id + "\">\n" +
                        "                                        <div class=\"title\" style=\"display: inline-block;\">" + questionArray[i].title + "</div>\n" +
                        "                                    </a>\n" +
                        "                                    <div style=\"font-size: 13px;margin-top: 10px;\">\n" +
                        "                                        <span><span><a href='#'>" + questionArray[i].publisher + "</a> 发起了问题</span></span>\n" +
                        "                                        <span>&nbsp;&nbsp;&nbsp;浏览量：<span>" + questionArray[i].viewCount + "</span></span>\n" +
                        "                                        <span>&nbsp;&nbsp;&nbsp;评论数：<span>" + questionArray[i].commentCount + "</span></span>\n" +
                        "                                        <span>&nbsp;&nbsp;&nbsp;发布于：<span>" + questionArray[i].gmtCreate + "</span></span>\n" +
                        "                                    </div>\n" +
                        "                                </div>\n" +
                        "                            </div>\n" +
                        "                        </div>\n" +
                        "                    </li>";
                    html += quesHtml;
                }
                $(id).html(html);

            },
            error: function () {
                layer.alert("系统错误，请稍后再试", {icon: 5, time: 2000});
            }
        });
    }


    //查询用户头像
    function getAvatar(username) {
        $.get("/getavatar?username=" + username, function (res) {
            $("#useravatar").attr("src", res.data);
            $(".user-small-avatar").attr("src", res.data);
        });
    }

</script>
</body>
</html>