<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/static/assets/images/favicon.ico" rel="icon">
    <title>用户注册 - 码匠论坛</title>
    <link href="/static/css/register.css" rel="stylesheet">
    <link href="/static/assets/libs/layui/css/layui.css" rel="stylesheet"/>
    <link href="/static/assets/module/admin.css?v=318" rel="stylesheet">
    <link href="/static/assets/module/notice/notice.css" rel="stylesheet">
    <script src="/static/common/jquery.min.js"></script>
    <script src="/static/assets/libs/layui/layui.js" type="text/javascript"></script>
    <script src="/static/assets/module/notice/notice.js" type="text/javascript"></script>
</head>
<body>
<div class="login-wrapper layui-anim layui-anim-scale layui-hide">
    <form class="layui-form">
        <h2>用户注册</h2>
        <div class="layui-form-item layui-input-icon-group">
            <i class="layui-icon layui-icon-username"></i>
            <input autocomplete="off" class="layui-input" id="username" lay-verify="username" name="username"
                   placeholder="请输入登录账号" required/>
        </div>
        <div class="layui-form-item layui-input-icon-group">
            <i class="layui-icon layui-icon-password"></i>
            <input class="layui-input" id="password" lay-verify="password" name="password" placeholder="请输入登录密码"
                   required type="password"/>
        </div>
        <div class="layui-form-item layui-input-icon-group">
            <i class="layui-icon layui-icon-key"></i>
            <input class="layui-input" id="password2" lay-equalTo="[name=password]" lay-verify="password2"
                   name="password2"
                   placeholder="请再次输入登录密码" required type="password"/>
        </div>
        <div class="layui-form-item layui-input-icon-group login-captcha-group">
            <i class="layui-icon layui-icon-auz"></i>
            <input autocomplete="off" class="layui-input" id="verifyCode" lay-verify="verifyCode" name="verifyCode"
                   placeholder="请输入验证码" required/>
            <img alt="验证码图片" class="login-captcha verifyCode" height="40" onclick="changeCode()" src="getVerifyCode"
                 width="133"/>
        </div>
        <div class="layui-form-item">
            <a class="layui-link" href="/login">返回登录</a>
            <a class="layui-link pull-right" href="#">忘记密码</a>
        </div>
        <div class="layui-form-item" style="margin-bottom: 20px;">
            <button class="layui-btn layui-btn-fluid" id="register" lay-filter="loginSubmit" lay-submit>注册</button>
        </div>
    </form>
</div>
<div class="login-copyright">copyright © 2020 mjforum.com all rights reserved.</div>
<script>
    layui.config({
        base: '/static/assets/module/'
    }).use(['layer', 'form', 'formX', 'admin', 'jquery', 'notice'], function () {
        let $ = layui.jquery;
        let layer = layui.layer;
        let form = layui.form;
        let notice = layui.notice;

        $('.login-wrapper').removeClass('layui-hide');

        form.render();

        /* 表单提交 */
        form.on('submit(loginSubmit)', function (obj) {
            $.ajax({
                type: "post",
                url: "/register",
                data: {
                    username: obj.field.username,
                    password: obj.field.password,
                    verifyCode: obj.field.verifyCode
                },
                success: function (res) {
                    if (res.status === 200) {
                        notice.msg('注册成功', {
                            icon: 1,
                            timeout: 1500,
                            onClosed: function () {
                                window.location.href = "/login";
                            }
                        });
                    } else {
                        $(".verifyCode").click();
                        notice.msg(res.msg, {icon: 2, timeout: 1000});
                    }
                }
            });
            return false;
        });

        //失去焦点时验证用户名格式，同时给出tips
        $("#username").blur(function () {
            let username = $("#username").val();
            $("#input-username").after("");
            if (username.length < 2 || username.length > 12) {
                $("input[name=username]").css({"box-shadow": "inset 0px 0px 5px 0px rgba(204, 25, 25, 0.76"});
                notice.msg("用户名长度必须在2-12个字符以内", {icon: 3, timeout: 1000});
                return;
            }
            if (/^\d+\d+\d$/.test(username)) {
                $("input[name=username]").css({"box-shadow": "inset 0px 0px 5px 0px rgba(204, 25, 25, 0.76"});
                notice.msg("用户名不能全为数字", {icon: 3, timeout: 1000});
                return;
            }

            if (!/^[a-z0-9A-Z\u4e00-\u9fa5]+$/.test(username) || (username.substr(0, 1) >= '0' && username.substr(0, 1) <= '9')) {
                $("input[name=username]").css({"box-shadow": "inset 0px 0px 5px 0px rgba(204, 25, 25, 0.76"});
                notice.msg("用户名只能包含中文、字母和数字，且数字不能在最前面", {icon: 3, timeout: 1000});
                return;
            }

            //上述验证通过才可以去查询数据库
            $.ajax({
                type: "get",
                url: "/getUserByName",
                async: false,
                data: {username: username},
                success: function (res) {
                    if (res.status === 200) {
                        $("input[name=username]").css({"box-shadow": "rgba(45, 199, 6, 0.76) 0px 0px 2px 0px inset"});  //绿色背景提示可用
                    } else if (res.status === 500) {
                        $("input[name=username]").css({"box-shadow": "inset 0px 0px 5px 0px rgba(204, 25, 25, 0.76"});  //红色虚化背景提示错误
                        notice.msg("该用户名已被注册", {icon: 3, timeout: 1000});
                    }
                }
            });
        });

        //聚焦时
        $("#username").focus(function () {
            $("#input-username").parent().children("i").hide();
            $("input[name=username]").css({"box-shadow": "none"});
        });

        //验证密码
        $("#password").blur(function () {
            if ($.trim($("#password").val()).length < 6 || $.trim($("#password").val()).length > 12) {
                $("input[name=password]").css({"box-shadow": "inset 0px 0px 5px 0px rgba(204, 25, 25, 0.76"});
                notice.msg("密码必须在6-12位", {icon: 3, timeout: 1000});
            } else {
                $("input[name=password]").css({"box-shadow": "rgba(45, 199, 6, 0.76) 0px 0px 2px 0px inset"});  //绿色背景提示可用
            }
        });

        $("#password").focus(function () {
            $("#input-password").parent().children("i").hide();
            $("input[name=password]").css({"box-shadow": "none"});
        });

        //校验重复密码
        $("#password2").blur(function () {
            if ($("#password").val() !== $("#password2").val()) {
                $("input[name=password2]").css({"box-shadow": "inset 0px 0px 5px 0px rgba(204, 25, 25, 0.76"});
                notice.msg("输入密码不一致", {icon: 3, timeout: 1000});
            } else {
                $("input[name=password2]").css({"box-shadow": "rgba(45, 199, 6, 0.76) 0px 0px 2px 0px inset"});  //绿色背景提示可用
            }
        });

        $("#password2").focus(function () {
            $("#input-repeatPassword").parent().children("i").hide();
            $("input[name=password2]").css({"box-shadow": "none"});
        });

    });

    //验证码刷新
    function changeCode() {
        let src = " getVerifyCode?" + new Date().getTime();
        $('.verifyCode').attr("src", src);
    }
</script>
</body>
</html>