<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bestzuo.mjforum.mapper.QuestionMapper">
    <resultMap id="BaseResultMap" type="cn.bestzuo.mjforum.pojo.Question">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="VARCHAR" property="gmtModified"/>
        <result column="publisher_id" jdbcType="INTEGER" property="publisherId"/>
        <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
        <result column="view_count" jdbcType="INTEGER" property="viewCount"/>
        <result column="like_count" jdbcType="INTEGER" property="likeCount"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <result column="is_ding" jdbcType="INTEGER" property="isDing"/>
        <result column="is_jing" jdbcType="INTEGER" property="isJing"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.bestzuo.mjforum.pojo.Question">
        <result column="description" jdbcType="LONGVARCHAR" property="description"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, title, gmt_create, gmt_modified, publisher_id, comment_count, view_count, like_count, tag, is_ding, is_jing
  </sql>
    <sql id="Blob_Column_List">
    description
  </sql>

    <!-- 查询所有的问题信息 -->
    <select id="getAllQuestions" resultMap="ResultMapWithBLOBs">
        select * from tb_question order by id desc
    </select>

    <!-- 查询所有的置顶问题信息 -->
    <select id="getDingQuestions" resultMap="ResultMapWithBLOBs">
        select * from tb_question where is_ding = 1
    </select>

    <!-- 查询所有的加精问题信息 -->
    <select id="getJingQuestions" resultMap="ResultMapWithBLOBs">
        select * from tb_question where is_jing = 1 order by id desc
    </select>

    <!-- 根据关键字查询问题信息 -->
    <select id="getAllQuestionsWithKeyword" resultMap="ResultMapWithBLOBs" parameterType="string">
        select * from tb_question where title like concat('%',#{keyword},'%') order by id desc
    </select>

    <!-- 根据问题主键查询问题信息 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_question
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!-- 根据浏览量查询问题信息 -->
    <select id="selectQuestionInfoByViewCount" resultType="cn.bestzuo.mjforum.pojo.Question">
      select * from tb_question order by view_count desc limit 10
    </select>

    <!-- 推荐 -->
    <select id="getAllQuestionsByViewCount" resultMap="ResultMapWithBLOBs">
      select * from tb_question order by view_count desc
  </select>

    <!-- 热门 -->
    <select id="getAllQuestionsByCommentCount" resultMap="ResultMapWithBLOBs">
    SELECT * FROM tb_question ORDER BY comment_count DESC,view_count DESC
  </select>

    <!-- 消灭零回复 -->
    <select id="getAllQuestionsByZeroComment" resultMap="ResultMapWithBLOBs">
    select * from tb_question where comment_count = 0
  </select>

    <!-- 根据问题ID查询标签名 -->
    <select id="queryTagByQuestionId" resultType="java.lang.String">
      select tag from tb_question where id = #{questionId}
    </select>

    <!-- 根据发布者ID获取发布的问题 -->
    <select id="getAllQuestionsByPublisherId" resultType="cn.bestzuo.mjforum.pojo.Question">
      select * from tb_question where publisher_id = #{publisherId} order by id desc
    </select>

    <!-- 获取我发布的最热的6个问题 -->
    <select id="selectMyHotQuestions" resultType="cn.bestzuo.mjforum.pojo.Question">
        select * from tb_question where publisher_id = #{publisherId} order by view_count desc,comment_count desc
    </select>

    <!-- 查询论坛推荐问题 -->
    <select id="selectForumRecommendQuestions" resultType="cn.bestzuo.mjforum.pojo.Question">
        select * from tb_question where publisher_id = 56 order by id desc limit 3
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_question
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="cn.bestzuo.mjforum.pojo.Question">
    insert into tb_question (id, title, gmt_create, 
      gmt_modified, publisher_id, comment_count,
      view_count, like_count, tag, is_ding, is_jing
      description)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=VARCHAR}, 
      #{gmtModified,jdbcType=VARCHAR}, #{publisherId,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER},
      #{viewCount,jdbcType=INTEGER}, #{likeCount,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR}, #{isDing,jdbcType=INTEGER},#{isJing,jdbcType=INTEGER},
      #{description,jdbcType=LONGVARCHAR})
  </insert>

    <!-- 有选择的插入问题，并返回主键id的值 -->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="cn.bestzuo.mjforum.pojo.Question">
        insert into tb_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="publisherId != null">
                publisher_id,
            </if>
            <if test="commentCount != null">
                comment_count,
            </if>
            <if test="viewCount != null">
                view_count,
            </if>
            <if test="likeCount != null">
                like_count,
            </if>
            <if test="tag != null">
                tag,
            </if>
            <if test="isDing != null">
                is_ding,
            </if>
            <if test="isJing != null">
                is_jing,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=VARCHAR},
            </if>
            <if test="publisherId != null">
                #{publisherId,jdbcType=INTEGER},
            </if>
            <if test="commentCount != null">
                #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="viewCount != null">
                #{viewCount,jdbcType=INTEGER},
            </if>
            <if test="likeCount != null">
                #{likeCount,jdbcType=INTEGER},
            </if>
            <if test="tag != null">
                #{tag,jdbcType=VARCHAR},
            </if>
            <if test="isDing != null">
                #{isDing,jdbcType=INTEGER},
            </if>
            <if test="isJing != null">
                #{isJing,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 更新置顶状态 -->
    <update id="updateDingStatusByQuestionId" parameterType="int">
        update tb_question set is_ding = #{isDing} where id = #{questionId}
    </update>

    <!-- 更新置顶状态 -->
    <update id="updateJingStatusByQuestionId" parameterType="int">
        update tb_question set is_jing = #{isJing} where id = #{questionId}
    </update>

    <!--更新阅读量-->
    <update id="updateByPrimaryKeySelective" parameterType="cn.bestzuo.mjforum.pojo.Question">
        update tb_question
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=VARCHAR},
            </if>
            <if test="publisherId != null">
                publisher_id = #{publisherId,jdbcType=INTEGER},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="viewCount != null">
                view_count = #{viewCount,jdbcType=INTEGER},
            </if>
            <if test="likeCount != null">
                like_count = #{likeCount,jdbcType=INTEGER},
            </if>
            <if test="tag != null">
                tag = #{tag,jdbcType=VARCHAR},
            </if>
            <if test="isDing != null">
                is_ding = #{isDing,jdbcType=INTEGER},
            </if>
            <if test="isJing != null">
                is_jing = #{isJing,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--更新问题信息-->
    <update id="updateQuestionInfoByIdSelective" parameterType="cn.bestzuo.mjforum.pojo.Question">
        update tb_question
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=VARCHAR},
            </if>
            <if test="publisherId != null">
                publisher_id = #{publisherId,jdbcType=INTEGER},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="viewCount != null">
                view_count = #{viewCount,jdbcType=INTEGER},
            </if>
            <if test="likeCount != null">
                like_count = #{likeCount,jdbcType=INTEGER},
            </if>
            <if test="tag != null">
                tag = #{tag,jdbcType=VARCHAR},
            </if>
            <if test="isDing != null">
                is_ding = #{isDing,jdbcType=INTEGER},
            </if>
            <if test="isJing != null">
                is_jing = #{isJing,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateLikeCountById" parameterType="int">
        update tb_question set like_count = #{likeCount} where id=#{questionId}
    </update>

    <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.bestzuo.mjforum.pojo.Question">
    update tb_question
    set title = #{title,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=VARCHAR},
      publisher_id = #{publisherId,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      view_count = #{viewCount,jdbcType=INTEGER},
      like_count = #{likeCount,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      is_ding = #{isDing,jdbcType=INTEGER},
      is_jing = #{isJing,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="cn.bestzuo.mjforum.pojo.Question">
    update tb_question
    set title = #{title,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=VARCHAR},
      publisher_id = #{publisherId,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      view_count = #{viewCount,jdbcType=INTEGER},
      like_count = #{likeCount,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR}
      is_ding = #{isDing,jdbcType=INTEGER}
      isJing = #{isJing,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>