<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bestzuo.zuoforum.mapper.QuestionEditMapper">
<!--    根据问题ID查询问题是否被置顶或者加精-->
    <select id="queryQuestionEditInfoByQuestionId" parameterType="int" resultType="cn.bestzuo.zuoforum.pojo.QuestionEdit">
        select * from tb_question_edit where question_id = #{questionId}
    </select>

    <select id="queryAllQuestionEditInfo" resultType="cn.bestzuo.zuoforum.pojo.QuestionEdit">
        select * from tb_question_edit
    </select>

    <!-- 查询所有精品问题 -->
    <select id="queryAllJingQuestions" resultType="cn.bestzuo.zuoforum.pojo.QuestionEdit">
        select * from tb_question_edit where is_jing = 1 limit 10
    </select>

    <!--查询加精状态-->
    <select id="queryIsJingByQuestionId" parameterType="int" resultType="java.lang.Integer">
        select is_jing from tb_question_edit where question_id = #{questionId}
    </select>

    <!--查询置顶状态-->
    <select id="queryIsDingByQuestionId" parameterType="int" resultType="java.lang.Integer">
        select is_ding from tb_question_edit where question_id = #{questionId}
    </select>

    <!-- 新增问题状态-->
    <insert id="insertNewQuestionEditInfo">
        insert into tb_question_edit(question_id,user_id,is_jing,is_ding) values(#{questionId},#{userId},#{isJing},#{isDing})
    </insert>

    <!-- 更新加精状态-->
    <update id="updateJingForQuestionById" parameterType="int">
        update tb_question_edit set is_jing = #{isJing} where question_id = #{questionId}
    </update>

    <!-- 更新置顶状态-->
    <update id="updateDingForQuestionById" parameterType="int">
        update tb_question_edit set is_ding = #{isDing} where question_id = #{questionId}
    </update>
</mapper>
