<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bestzuo.mjforum.mapper.UserRateMapper">

    <!-- 查询积分等级最高的用户信息 -->
    <select id="selectTopRateUser" resultType="cn.bestzuo.mjforum.pojo.UserRate">
        select * from tb_user_rate order by rate desc limit 5
    </select>

    <!-- 根据用户名查询积分信息 -->
    <select id="selectRateById" parameterType="int" resultType="cn.bestzuo.mjforum.pojo.UserRate">
        select * from tb_user_rate where user_id = #{userId}
    </select>

    <!-- 新增用户积分信息 -->
    <insert id="insertUserRate" parameterType="cn.bestzuo.mjforum.pojo.UserRate">
        insert into tb_user_rate(user_id,rate) values(#{userId},#{rate})
    </insert>

    <!-- 更新用户积分信息 -->
    <update id="updateRateById" parameterType="int">
        update tb_user_rate set rate=#{rate} where user_id = #{userId}
    </update>
</mapper>
